.mobile_header {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(71, 139, 249, 1);
  border-radius: 64px;
  padding: 10px 14px;
  justify-content: space-between;
  align-items: center;
}

.header_panel {
  display: flex;
  flex-direction: column;

  .panel_logo {
    display: block;
    width: 54px;
    height: 18px;
  }

  .panel_buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  .menu_button_container {
    display: flex;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu_button {
    transition: 0.5s linear !important;
    &::before {
      content: '';
      margin-top: -6px;
    }

    &::after {
      content: '';
      margin-top: 6px;
    }
  }

  .menu_button,
  .menu_button::before,
  .menu_button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 2px;
    width: 21px;
    transition: transform 1s ease-in-out;
    border-radius: 2px;
  }

  .menu_button_on {
    background: rgba(255, 255, 255, 0);

    &::before {
      margin-top: 0;
      transform: rotate(225deg);
      transition: 1s ease-in-out;
    }

    &::after {
      margin-top: 0;
      transform: rotate(-225deg);
      transition: 1s ease-in-out;
    }
  }


  .displayNone {
    display: none;
    transition: 1s linear;
  }

  .menu_hide{
    height: 0;
    margin: 0;
    padding: 0;
    transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);

    li, a {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      display: flex;
      color: transparent;
      background-color: rgba(17, 10, 29, 1);
      border-radius: 28px;
      font-size: 18px;
      line-height: 24px;
      justify-content: flex-start;
      transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
      //display: none;
    }


  }

  .menu {
    padding: 0;
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(17, 10, 29, 1);
      border-radius: 28px;
      padding: 13px 20px;
      border: 2px solid rgba(71, 139, 249, 1);
      font-size: 18px;
      line-height: 24px;
      transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
  }

}
