@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');


.home {
  background: rgba(17, 10, 29, 1);
  display: flex;
  height: 1265px;
  width: 100%;
  overflow: hidden;

  .content {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    padding-top: 16px;
    //z-index: 10;
  }

  position: relative;
}

.ellipse {
  position: absolute;
  width: 226.5px;
  height: 1100px;
  opacity: 0.55;
  rotate: 126deg;
  left: 200px;
  background: linear-gradient(180deg, rgba(71, 139, 249, 0.4) 100%, #478BF9 0%);
  filter: blur(130px);
}

.circle {
  position: absolute;
  opacity: 0.3;
  border-radius: 100%;
  width: 574px;
  height: 574px;
  bottom: 0;
  right: -160px;
  background: linear-gradient(255.96deg, #478BF9 0%, #9DADF2 100%);
  filter: blur(130px);
  z-index: 5;
}


@media screen and (max-width: 760px){

  .home{
    height: auto;
  }

  .ellipse {
    position: absolute;
    width: 100px;
    height: 466px;
    opacity: 0.55;
    rotate: 126deg;
    left: 100px;
    border-radius: 100px;
    top: 16px;
    background: linear-gradient(180deg, rgba(71, 139, 249, 0.4) 100%, #478BF9 0%);
    filter: blur(16px);
  }

  .circle {
    position: absolute;
    opacity: 0.3;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    bottom: 230px;
    right: -97px;
    background: linear-gradient(255.96deg, #478BF9 0%, #9DADF2 100%);
    filter: blur(55px);
  }
}
