.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 48px;
    border: 4px solid rgba(71, 139, 249, 1);
    border-radius: 64px;
    align-items: center;
  }
}

.logo {
  display: block;
  width: 387px;
  height: 32px;
  flex-basis: auto;
  position: relative;
}

.navigation_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-basis: auto;
  position: relative;

  li {
    padding: 0;
    height: fit-content;
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .menu_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 8px;

    &:hover {
      color: rgba(71, 139, 249, 1);
      cursor: pointer;
      transition: 0.3s ease-out;
    }
  }
}

.navigation_buttons {
  display: flex;
  flex-direction: row;
}
