.button {
  border: 2px solid rgba(157, 173, 242, 1);
  padding: 13px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 24px;
  text-transform: uppercase;
  margin: 0 7px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  &:hover{
    cursor: pointer;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.button_fill{
  background: rgba(71, 139, 249, 1);
  border: none;
}
