.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;

  .footer_content {
    display: flex;
    border-radius: 64px 64px 0 0;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: rgba(71, 139, 249, 1);
    background: rgba(30, 18, 49, 1);
    padding: 40px 140px 24px 140px;
    gap: 32px;
    justify-content: space-between;
    width: 100%;
  }

}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-end;
}

.page_link {
  font-size: 16px;
  line-height: 20px;

  &:hover {
    transition: 0.3s ease;
    color: rgba(71, 139, 249, 1);
    text-decoration: underline;
    cursor: pointer;
  }
}

.social_media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  .media {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    font-weight: 400;
    margin: 0 0 14px;
  }

  .socials {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
  }

  .social_item {
    width: 32px;
    height: 32px;
    background-size: cover;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .icon_image {
      width: 16px;
      height: 16px;
    }
  }

}

@media screen and (max-width: 760px) {

  .footer {
    margin-top: 120px;

    .footer_content {
      display: flex;
      flex-direction: column;
      border-radius: 50px 50px 0 0;
      border-width: 2px 2px 0 2px;
      padding: 20px;
      gap: 20px;
      align-items: flex-start;
    }
  }

  .pages {
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    align-items: flex-start;

    .page_link, {
      font-size: 14px;
    }
  }

  .social_media {
    align-items: flex-start;

    .media {
      font-size: 14px;
    }

    .social_item {
      width: 27px;
      height: 27px;

      .icon_image {
        width: 13.5px;
        height: 13.5px;
      }
    }
  }
}
