.banner {
  width: 100%;

  .content {
    padding: 0 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.title_block {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex-basis: auto;
  align-items: flex-start;
  width: 670px;
  margin-right: 42px;

  .title {
    font-size: 96px;
    line-height: 96px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 300px 0 0;
    text-align: start;

    .blue {
      color: rgba(71, 139, 249, 1);
    }
  }

  .subtitle {
    font-size: 32px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  .btn_partner{
    padding: 20px 72px 20px 72px;
    border-radius: 48px;
    gap: 8px;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    font-weight: 600
  }
}

.banner_image {
  height: 1000px;
  flex-basis: auto;

  .image_block {
    width: 333px;
    height: 100%;
    background: url("./back_banner.png");
    background-size: cover;
    margin-top: 4px;


    .gradient {
      height: 100%;
      background: linear-gradient(to bottom, transparent 0%, rgba(17, 10, 29, 1) 100%);
    }
  }
}

.blog {
  flex-basis: auto;
  margin-top: 140px;
  width: 531px;
  margin-left: 64px;
  z-index: 6;

  .blog_title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 24px;
  }


  .blog_content {
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    border: 3px solid rgba(71, 139, 249, 1);
    background: rgba(255, 255, 255, 0.12);
    padding: 0 16px 0 24px;
    overflow-y: auto;
    height: 595px;

    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.12);
      margin: 96px 0;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(71, 139, 249, 1);
      border-radius: 10px;
    }


    .news_item {
      display: flex;
      flex-direction: column;
      padding: 16px 64px;
      border-radius: 196px;
      margin: 0 0 16px;
      background: rgba(30, 18, 49, 1);
      text-decoration: none;
      color: rgba(255, 255, 255, 1);

      &:hover {
        background: rgba(71, 139, 249, 1);
        transition: 0.8s ease-out;
        cursor: pointer;
      }

      &:first-child {
        margin-top: 24px;
      }

      &:last-child {
        margin-bottom: 24px;
      }

      .news_text {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
        text-align: start;
        padding: 0 0 16px 0;
        margin: 0;
      }

      .news_date {
        font-size: 14px;
        line-height: 16px;
        text-align: start;
        font-weight: 450;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .blog_items {
    overflow-y: auto;
    padding-right: 16px;
  }
}

@media screen and (max-width: 760px) {
  .banner {
    width: 100%;
    overflow: hidden;
    margin: 70px 0 0;

    .content {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .title_block {
    gap: 12px;
    margin: 0 10px;
    width: fit-content;
    align-items: center;

    .title {
      font-size: 46px;
      line-height: 50px;
      color: rgba(255, 255, 255, 1);
      padding: 0;
      margin: 0;
      text-align: center;
    }

    .subtitle{
      font-size: 20px;
      line-height: 26px;
    }

    .btn_partner{
      padding: 15px 56.5px;
      font-size: 18px;
      line-height: 22.5px;
    }
  }

  .banner_image {
    height: 29vh;
    flex-basis: auto;
    margin-top: 30px;
    margin-bottom: 33px;

    .image_block {
      width: 100%;
      height: 100%;
      background: url("./back_banner_mobile.png");
      background-size: contain;

      .gradient {
        background: none;
      }
    }
  }

  .blog {
    flex-basis: auto;
    margin-top: 0px;
    width: auto;
    margin-left: 0;
    padding: 0 10px;

    .blog_title {
      font-size: 32px;
      margin: 0 0 18px;
    }


    .blog_content {
      border-radius: 50px;
      border: 2px solid rgba(71, 139, 249, 1);
      padding: 0 6px 0 10px;
      height: 420px;

      ::-webkit-scrollbar {
        width: 4px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        margin: 60px 0;
      }

      .blog_items {
        overflow-y: auto;
        padding-right: 16px;
        gap: 8px;
        display: flex;
        flex-direction: column;
      }

      .news_item {
        padding: 15px 35px;
        border-radius: 40px;
        margin: 0;
        background: rgba(30, 18, 49, 1);
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;

        &:first-child {
          margin-top: 10px;
        }

        &:last-child {
          margin-bottom: 10px;
        }

        .news_text {
          font-size: 16px;
          line-height: 20px;
          text-align: start;
          padding: 0 0 6px 0;
        }
      }
    }
  }
}
